<div *ngIf='user && user.type == 2'>

    <div>   
        
        <app-promoted></app-promoted>
        
        <app-search></app-search>
        

        <div *ngIf='offers.length != 0'>
            <div *ngFor='let req of offers'>
                <div *ngFor='let o of req.offers; let i=index;'>
                    <mat-card>
                        {{o.username}} |
                        {{o.price}} | 
                        {{o.datefrom}} |
                        {{o.dateto}}
                        <span class="example-button-row">
                            <button mat-raised-button (click)='acceptOffer(req._id, i)' color="primary">Accept</button>
                        </span>
                    </mat-card>
                </div>
                
                <br/>
            </div>
        </div>

    </div>
</div>
