<div>
    <form class="example-form">
        <table>
            <br/>
            <b>Publish Real Estate</b>
            <br/>
            <br/>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Region</mat-label>
                <input matInput [(ngModel)]='region' name='region'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput [(ngModel)]='city' name='city'>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Price</mat-label>
                <input type='number' matInput [(ngModel)]='price' name='price'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Type</mat-label>
                <input matInput [(ngModel)]='house_flat' name='house_flat'>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Rooms</mat-label>
                <input type='number' matInput [(ngModel)]='rooms' name='rooms'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Area</mat-label>
                <input type='number' matInput [(ngModel)]='area' name='area'>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Sell/Rent</mat-label>
                <input matInput [(ngModel)]='sell_rent' name='sell_rent'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput [(ngModel)]='description' name='description'>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput [(ngModel)]='address' name='address'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Floor(s)</mat-label>
                <input type='number' matInput [(ngModel)]='floor' name='floor'>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Total floors</mat-label>
                <input type='number' matInput [(ngModel)]='total_floors' name='total_floors'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Furnished</mat-label>
                <input matInput [(ngModel)]='furnished' name='furnished'>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label class='uploadimg'>Pictures </mat-label>
                <input matInput disabled>
                <input type="file" name="pictures" accept="image/png, image/jpeg">
            </mat-form-field>
            

            <div class="example-button-row">
                <button mat-raised-button (click)='publish()' color="primary">Publish</button>
            </div>
            
        </table>
    </form>
</div>
