<div>
    <form class="example-form">
        <table>
            <br/>
            <h2>Publish Real Estate</h2>
            <br/>
            <br/>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Region</mat-label>
                <input required matInput [(ngModel)]='region' name='region'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>City</mat-label>
                <input required matInput [(ngModel)]='city' name='city'>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Price</mat-label>
                <input required type='number' matInput [(ngModel)]='price' name='price'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Type</mat-label>
                <mat-select required [(value)]="house_flat">
                    <mat-option value="house">House</mat-option>
                    <mat-option value="flat">Flat</mat-option>
                </mat-select>
              
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Rooms</mat-label>
                <input required type='number' matInput [(ngModel)]='rooms' name='rooms'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Area</mat-label>
                <input required type='number' matInput [(ngModel)]='area' name='area'>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Sell/Rent</mat-label>
                <mat-select required [(value)]="sell_rent">
                    <mat-option value="sell">Sell</mat-option>
                    <mat-option value="rent">Rent</mat-option>
                </mat-select>
                
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input required matInput [(ngModel)]='description' name='description'>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Address</mat-label>
                <input required matInput [(ngModel)]='address' name='address'>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Floor(s)</mat-label>
                <input required type='number' matInput [(ngModel)]='floor' name='floor'>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Total floors</mat-label>
                <input type='number' matInput [(ngModel)]='total_floors' name='total_floors'>             
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Furnished</mat-label>
                <mat-select required [(value)]="furnished">
                    <mat-option value="furnished">Furnished</mat-option>
                    <mat-option value="not_furnished">Not furnished</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label class='uploadimg'>Pictures </mat-label>
                <input matInput disabled>
                <input type="file" name="pictures" accept="image/png, image/jpeg">
            </mat-form-field>
            

            <div class="example-button-row">
                <button type="submit" mat-raised-button (click)='publish()' color="primary">Publish</button>
            </div>
            
        </table>
    </form>
</div>
