<div>
    
    <form class='example-form'>
        <table>
                <br/>
                <b>Register</b>
                <br/>
                <br/>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Minimum price</mat-label>
                    <input matInput>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Maximum price</mat-label>
                    <input matInput>
                </mat-form-field>

                <div class="example-button-row">
                    <button mat-raised-button color="primary">Search</button>
                </div>

        </table>
    </form>
    
</div>

