.example-form {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  section {
    display: table;
  }
  
  .example-button-row {
    
    width: 490px;
  }
