<div>
    
    <form class='example-form'>
        <table>
                <br/>
                <hr/>
                <b>Search</b>
                <br/>
                <br/>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput [(ngModel)]='city' name='city'>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Minimum price</mat-label>
                    <input matInput type='number' [(ngModel)]='minimum' name='minimum'>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Maximum price</mat-label>
                    <input matInput type='number' [(ngModel)]='maximum' name='maximum'>
                </mat-form-field>

                <div class="example-button-row">
                    <button mat-raised-button (click)='search()' color="primary">Search</button>
                </div>

                <br/>

                <div *ngIf='realestates.length != 0; else noSearchResults'>
                    <div *ngFor='let re of realestates'>
                        <app-re-card *ngIf='re.accepted == 1' [re]='re'></app-re-card>
                        <br/>
                    </div>
                </div>

                <ng-template #noSearchResults>
                    <span>
                       
                    </span>
                </ng-template>
                

        </table>
    </form>
    
</div>

