
<div>
    <form class="example-form">
        <table>
            <br/>
            <b>Login</b>
            <br/>
            <br/>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]='username' name='username' placeholder="Ex. jerrysmith">
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [(ngModel)]='password' name='password'>
            </mat-form-field>

            <div class="example-button-row">
                <button mat-raised-button (click)='login()' color="primary">Login</button>
            </div>
            
        </table>
    </form>
</div>