.example-form {
    min-width: 300px;
    max-width: 600px;
    width: 100%; 
  }
  
  .example-full-width {
    min-width: 200px;
    max-width: 500px;
    width: 100%;
  }

.red{
  color: red;
}

mat-hint{
  color: red;
}