<div>
    <p>Hello Admin</p>


    <div *ngIf='requests.length != 0; else noReqs'>
        <div *ngFor='let req of requests'>
            <mat-card>
                {{req.username}}
                {{req.email}}
                <button (click)='accept(req.username)'>Accept</button>
                <button (click)='reject(req.username)'>Reject</button>
            </mat-card>
            <br/>
        </div>
    </div>

    <ng-template #noReqs>
        <span>
           No reqs
        </span>
    </ng-template>

    <br/>
    <hr/>
    <br/>
    <app-register></app-register>

    <br/>
    <hr/>
    <br/>
    All users
    <div *ngIf='all.length != 0; else noUsers'>
        <div *ngFor='let usr of all'>
            <mat-card>
                {{usr.username}}
                {{usr.email}}
                <button (click)='update(usr.username)'>Update</button>
                <button (click)='delete(usr.username)'>Delete</button>
            </mat-card>
            <br/>
        </div>
    </div>

  
</div>
