<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Real Real Estate</span>
      <span class="example-spacer"></span>
      <div class="example-button-row">
        <div *ngIf="user; else noUser">
          {{user.username}} 
          <button mat-raised-button (click)="logout()">Logout</button>
        </div>
        
        <ng-template #noUser>
          <span>
            <a mat-raised-button routerLink="login">Login</a> or
            <a mat-raised-button routerLink="register">Register</a>
          </span>
      </ng-template>
      
      </div>
    </mat-toolbar>

</p>
  