

<div>
   
    <form class="example-form">
        <table>
            <br/>
            <b>Register</b>
            <br/>
            <br/>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Ex. Smith">
            </mat-form-field>
        
    
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Surname</mat-label>
                <input matInput placeholder="Ex. Smith">
            </mat-form-field>
        

        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput placeholder="Ex. jerrysmith">
            </mat-form-field>
        

        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput>
            </mat-form-field>
            
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Repeat Password</mat-label>
                <input matInput>
            </mat-form-field>
        
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Ex. jerry@jerrymail.com">
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput>
            </mat-form-field>

            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Country</mat-label>
                <input matInput>
            </mat-form-field>

           
            <mat-label>Avatar </mat-label>
             
            <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg">

        </table>
    </form>

</div>