<div *ngIf='user && user.type == 1'>
    <p>Hello {{user.username}}</p>

    <div class='example-form'>

        <h2>Not accepted</h2>
        <div *ngIf='requests.length != 0; else noReqs'>
            <div *ngFor='let req of requests'>
                <mat-card>
                    {{req.owner}} |
                    {{req.price}} | 
                    {{req.address}} |
                    <span class="example-button-row">
                        <button mat-raised-button (click)='accept(req._id)' color="primary">Accept</button>
                    </span>
                </mat-card>
                <br/>
            </div>
        </div>

        <ng-template #noReqs>
            <span>
            No reqs
            </span>
        </ng-template>
    
    
    
        <div class='chart' id='houseFlatChart'></div>

        <div class='chart'  id='cityChart'></div>

        <div class='chart'  id='sellRange'></div>
    </div>

  
</div>
